@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* Senin gradientin */
  background: linear-gradient(to right, #cbfdd8, #95bafe);
  background-attachment: fixed; /* scroll’da arkada sabit kalsın */
}

/* Overscroll bounce rengini de kontrol et (Safari) */
html, body {
  overscroll-behavior: none;
}